@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% );
    background-size: cover;
}   
.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1 {
    color: white;
    font-size: 2rem;
    letter-spacing: 10px;
    font-weight: lighter;
    margin-bottom: 3rem;
    height: 10%;
    font-family: 'Montserrat', sans-serif;
    /* background-color: white; */
}
.calculadora{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    height: 60%;
    width: 20rem;
    background-color: #101010;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px black;
    animation: enter 2s ease;
}
.input {
    grid-column: 1 / -1;
    height: 2.5rem;
    margin: .2rem;
    width: 98%;
    outline: none;
    border: none;
    border-bottom: 2px solid #642b73;
    font-size: 1.5rem;
    text-align: right;
    padding: .5rem;
    background-color: #161616;
    box-shadow: inset 0px -10px 10px #642b7332;
    color: white;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    letter-spacing: 2px;
}
.boton {
    margin: 5px;
    font-size: 1.1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-shadow: inset 0px 0px 10px #333;
    border: 1px solid #333;
    border-radius: 5px;
    transition: all 200ms ease-in;
}
.color1 {
    background-color: transparent;
    box-shadow: inset 0px 0px 10px #8500a6;
    border: 1px solid #8500a6;
    font-weight: bold;
}
.color2 {
    background-color: transparent;
    box-shadow: inset 0px 0px 10px #5b00d3;
    border: 1px solid #5b00d3;
    font-weight: bold;
}
.boton:hover, .boton:active {
    box-shadow: inset 0px 0px 50px #252525;
}
.color1:hover, .color1:active {
    box-shadow: inset 0px 0px 50px #8500a6;
}
.color2:hover, .color2:active {
    box-shadow: inset 0px 0px 50px #4b01ad;
}

@keyframes enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}